<form id="form">
  <label>Email</label><input type="text" name="email" id="email" />
  <label>Password</label><input type="password" name="password" id="password" />
  <input type="submit" value="LOGIN" />
</form>
<script src="/jwt.js"></script>